<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maze{% endblock %}</title>

        {% block css %}
            <link rel="stylesheet" href="/bundles/app/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/bundles/app/css/main_style.css" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block js %}
            <script src="/bundles/app/js/jquery.min.js"></script>
            <script src="/bundles/app/js/jquery-migrate-3.0.1.min.js"></script>
            <script src="/bundles/app/js/main.js"></script>
        {% endblock %}
    </body>
</html>
