.box1 {
    float: left;
    width: 650px;
    height: 400px;
    padding-left: 10px;
}

#testBeforeAddDb { width:400px; height:400px; overflow: auto; }

.box2 {
    float: left;
    width: 1000px;
    height: 800px;
    overflow: scroll;
    background-color: #EFEFEF;
}

.squareC {
    width: 20px;
    height: 20px;
    background-color: maroon;
    margin-right: 1px;
    margin-bottom: 1px;
}

.squareL {
    width: 20px;
    height: 20px;
    background-color: lightyellow;
    margin-right: 1px;
    margin-bottom: 1px;
}

.squareC, .squareL {
    float: left;
}

.clear {
    clear: both;
}