{% extends 'base.html.twig' %}

{% block body %}
    <p>My Maze</p>
    <div class="box1">
        <form action="" name="frm_maze" method="post">
            <div>
                Choose dim x: <input type="text" name="dim_x" value="{% if data.dim_x is defined %}{{ data.dim_x }}{% endif%}" />
            </div>
            <div>
                Choose dim y: <input type="text" name="dim_y" value="{% if data.dim_y is defined %}{{ data.dim_y }}{% endif%}" />
            </div>
            <div>
                Choose pos AX: <input type="text" name="pos_ax" value="{% if data.pos_ax is defined %}{{ data.pos_ax }}{% endif%}" />
            </div>
            <div>
                Choose pos AY: <input type="text" name="pos_ay" value="{% if data.pos_ay is defined %}{{ data.pos_ay }}{% endif%}" />
            </div>
            <div>
                Choose pos BX: <input type="text" name="pos_bx" value="{% if data.pos_bx is defined %}{{ data.pos_bx }}{% endif%}" />
            </div>
            <div>
                Choose pos BY: <input type="text" name="pos_by" value="{% if data.pos_by is defined %}{{ data.pos_by }}{% endif%}" />
            </div>
            <div>
                Choose Brick Density: <input type="text" name="brick_density" value="{% if data.brick_density is defined %}{{ data.brick_density }}{% endif%}" />
            </div>
            <div>
                <input type="submit" name="generate" value="Generate" />
                <input type="hidden" name="enforcer" value="maze" />
                <script type="text/javascript">
                    let data = new Array();
                    {% for key,value in data %}
                    data['{{ key }}'] = '{{ value }}';
                    {% endfor %}
                </script>
            </div>
            <p id="mazeError"></p>
            <p id="testBeforeAddDb"></p>
        </form>
    </div>
    <div id="theMaze" class="box2" data-url="{{ path('app_save') }}"></div>
{% endblock %}
